{% extends 'base.html' %}
{% block content %}
<a href="{% url 'start' %}"> Base </a>
<a href="{% url 'products' %}"> Products </a>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eius dolor neque minus optio eos illo itaque voluptatibus! Facere reiciendis ex quos esse rerum quaerat maxime, eaque non aut qui veniam architecto! Fuga veniam, error fugiat, natus animi numquam, aliquid nobis inventore aut maxime libero dolore? Voluptatum dolorum assumenda doloribus.
</p>
{% endblock content %}